.card-body{
    padding-left: 50px;
    padding-top: 25px;
}
.card{
    position: absolute;
    top: 170px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    --bs-card-cap-padding-y: 0px
}
.card-header{
    padding-left: 50px;
}
/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 40vh;
    overflow-y: auto;
    padding: 0;
}