<div class='card'>
    <div class='card-header'>
        <h4>{{pageTitle}}</h4>
    </div>
    <br />
    <div class='card-body'>
        <br />
        <div class='table-responsive'>
            <table class='table' *ngIf="cities.length">
                <thead>
                    <tr>
                        <th>City Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let city of cities'>
                        <td>
                            <a [routerLink]="['/cities', city.cityId]">
                                {{city.cityName}}
                            </a>
                        </td>
                        <td>{{city.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>